<%= form_with(model: crocheter, local: true) do |form| %>
  <% if crocheter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crocheter.errors.count, "error") %> prohibited this crocheter from being saved:</h2>

      <ul>
        <% crocheter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
