<p id="notice"><%= notice %></p>

<div id="bannerimage"></div>
<h1>Crocheter Profiles</h1>

<table>
  <thead>
    <tr>
      <!-- <th>Id</th> -->
      <!-- <th>Name</th> -->
      <!-- <th>Description</th> -->
      <!-- <th>Image url</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crocheters.each do |crocheter| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td class="image">
          <%= image_tag(crocheter.image_url, class: 'list_image') %>
        </td>

        <td class="description">
          <h2><%= crocheter.name %></h2>

          <p>
            <%= truncate(strip_tags(crocheter.description),
                         length: 80) %>
          </p>

        </td>
        <!-- <td><%= crocheter.id %></td> -->
        <td>
          <% crocheter.projects.each do |p| %>
             <h4><%= link_to p.pattern, crocheter_project_url(crocheter,p)%></h4>
          <% end %> 
        </td>

        <td class="actions">
          <ul>
            <li><%= link_to 'Show', crocheter %></li>
            <li><%= link_to 'Edit', edit_crocheter_path(crocheter) %></li>
            <li>
              <%= link_to 'Destroy',
                           crocheter, 
                          method: :delete,
                          data: { confirm: 'Are you sure?' } %>
            </li>
          </ul>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crocheter', new_crocheter_path %>
