<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @crocheter.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @crocheter.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @crocheter.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @crocheter.image_url %>
</p>


<%= link_to 'Edit', edit_crocheter_path(@crocheter) %> |
<%= link_to 'Back', crocheters_path %>


