<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pattern %>
    <%= form.text_field :pattern %>
  </div>

  <div class="field">
    <%= form.label :hook_size %>
    <%= form.text_field :hook_size %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :crocheter_id %>
    <%= form.text_field :crocheter_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
