<p id="notice"><%= notice %></p>

<p>
  <strong>Pattern:</strong>
  <%= @project.pattern %>
</p>

<p>
  <strong>Hook size:</strong>
  <%= @project.hook_size %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<p>
  <strong>Crocheter:</strong>
  <%= @project.crocheter_id %>
</p>

<%= link_to 'Edit', edit_crocheter_project_path(@project) %> |
<%= link_to 'Back', crocheter_path %>
