<p id="notice"><%= notice %></p>

<h1>Yarns</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Color</th>
      <th>Dye lot</th>
      <th>Quantity</th>
      <th>Purchased at</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @yarns.each do |yarn| %>
      <tr>
        <td><%= yarn.brand %></td>
        <td><%= yarn.color %></td>
        <td><%= yarn.dye_lot %></td>
        <td><%= yarn.quantity %></td>
        <td><%= yarn.weight %></td>
        <td><%= yarn.project_id %></td>
        <td><%= link_to 'Show', yarn %></td>
        <td><%= link_to 'Edit', edit_yarn_path(yarn) %></td>
        <td><%= link_to 'Destroy', yarn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Yarn', new_yarn_path %>
