<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @yarn.brand %>
</p>

<p>
  <strong>Color:</strong>
  <%= @yarn.color %>
</p>

<p>
  <strong>Dye lot:</strong>
  <%= @yarn.dye_lot %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @yarn.quantity %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @yarn.purchased_at %>
</p>

<p>
  <strong>Project:</strong>
  <%= @yarn.project_id %>
</p>

<%= link_to 'Edit', edit_yarn_path(@yarn) %> |
<%= link_to 'Back', yarns_path %>
